USE [sd50]
GO
/****** Object:  Table [dbo].[Anh]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anh](
	[Anh_id] [int] IDENTITY(1,1) NOT NULL,
	[Anh_url] [nvarchar](max) NOT NULL,
	[Mo_ta] [nvarchar](max) NULL,
	[Thu_tu] [int] NOT NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Anh] PRIMARY KEY CLUSTERED 
(
	[Anh_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[Chuc_vu_id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_chuc_vu] [nvarchar](255) NOT NULL,
	[Mo_ta_chuc_vu] [nvarchar](max) NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[Chuc_vu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_muc_san_pham]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_muc_san_pham](
	[Danh_muc_san_pham_id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_danh_muc] [nvarchar](255) NOT NULL,
	[Trang_thai] [int] NOT NULL,
 CONSTRAINT [PK_Danh_muc_san_pham] PRIMARY KEY CLUSTERED 
(
	[Danh_muc_san_pham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiaChiKhachHang]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaChiKhachHang](
	[Dia_chi_id] [int] IDENTITY(1,1) NOT NULL,
	[Khach_hang_id] [int] NOT NULL,
	[Xa] [nvarchar](255) NULL,
	[Huyen] [nvarchar](255) NULL,
	[Thanh_pho] [nvarchar](255) NULL,
	[So_nha] [nvarchar](255) NULL,
	[Ghi_chu] [nvarchar](max) NULL,
 CONSTRAINT [PK_DiaChiKhachHang] PRIMARY KEY CLUSTERED 
(
	[Dia_chi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[Gio_hang_id] [int] IDENTITY(1,1) NOT NULL,
	[Khach_hang_id] [int] NOT NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[Gio_hang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[Gio_hang_chi_tiet_id] [int] IDENTITY(1,1) NOT NULL,
	[Gio_hang_id] [int] NOT NULL,
	[San_pham_id] [int] NOT NULL,
	[San_pham_chi_tiet_id] [int] NULL,
	[So_luong] [int] NOT NULL,
	[Don_gia] [decimal](18, 2) NOT NULL,
	[Thanh_tien] [decimal](18, 2) NOT NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_GioHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[Gio_hang_chi_tiet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[Hinh_thuc_thanh_toan_id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_hinh_thuc] [nvarchar](255) NOT NULL,
	[Mo_ta] [nvarchar](max) NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[Hinh_thuc_thanh_toan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[Hoa_don_id] [int] IDENTITY(1,1) NOT NULL,
	[Nhan_vien_id] [int] NOT NULL,
	[Voucher_id] [int] NULL,
	[Khach_hang_id] [int] NOT NULL,
	[Hinh_thuc_thanh_toan_id] [int] NOT NULL,
	[Dia_chi_id] [int] NOT NULL,
	[Ten_khach_hang] [nvarchar](255) NOT NULL,
	[Sdt_khach_hang] [nvarchar](50) NULL,
	[Email_khach_hang] [nvarchar](255) NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_nhan_hang] [datetime2](7) NULL,
	[Tong_tien_sau_khi_giam] [decimal](18, 2) NOT NULL,
	[Trang_thai] [int] NOT NULL,
	[Loai_hoa_don] [nvarchar](50) NULL,
	[Ghi_chu] [nvarchar](max) NULL,
	[Dia_chi_khach_hang] [nvarchar](max) NULL,
	[Thong_tin_voucher] [nvarchar](max) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[Hoa_don_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonChiTiet]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonChiTiet](
	[Hoa_don_chi_tiet_id] [int] IDENTITY(1,1) NOT NULL,
	[San_pham_id] [int] NOT NULL,
	[Hoa_don_id] [int] NOT NULL,
	[So_luong_san_pham] [int] NOT NULL,
	[Gia] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_HoaDonChiTiet] PRIMARY KEY CLUSTERED 
(
	[Hoa_don_chi_tiet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khach_hang]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khach_hang](
	[Khach_hang_id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_khach_hang] [nvarchar](255) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[Trang_thai] [int] NOT NULL,
	[Tai_khoan_id] [int] NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
	[Dia_chi_khach_hang] [nvarchar](max) NULL,
 CONSTRAINT [PK_Khach_hang] PRIMARY KEY CLUSTERED 
(
	[Khach_hang_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mau_sac]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mau_sac](
	[Mau_sac_id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_mau] [nvarchar](255) NOT NULL,
	[Ma_mau_hex] [nvarchar](50) NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_Mau_sac] PRIMARY KEY CLUSTERED 
(
	[Mau_sac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Nhan_vien_id] [int] IDENTITY(1,1) NOT NULL,
	[Ho_ten] [nvarchar](255) NOT NULL,
	[Gioi_tinh] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[Dia_chi] [nvarchar](max) NULL,
	[Email] [nvarchar](255) NULL,
	[Ngay_sinh] [date] NULL,
	[Chuc_vu_id] [int] NOT NULL,
	[Trang_thai] [int] NOT NULL,
	[Tai_khoan_id] [int] NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[Nhan_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhat_ky_he_thong]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhat_ky_he_thong](
	[Log_id] [int] IDENTITY(1,1) NOT NULL,
	[User_id] [int] NULL,
	[Pass_word] [nvarchar](255) NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_Nhat_ky_he_thong] PRIMARY KEY CLUSTERED 
(
	[Log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[San_pham_id] [int] IDENTITY(1,1) NOT NULL,
	[Danh_muc_san_pham_id] [int] NOT NULL,
	[Mau_sac_id] [int] NULL,
	[Anh_id] [int] NULL,
	[Ten_san_pham] [nvarchar](255) NOT NULL,
	[Ma_san_pham] [nvarchar](50) NOT NULL,
	[Sku] [nvarchar](50) NOT NULL,
	[Gia_nhap] [decimal](18, 2) NOT NULL,
	[Gia_ban] [decimal](18, 2) NOT NULL,
	[So_luong_ton] [int] NOT NULL,
	[Don_vi_tinh] [nvarchar](50) NULL,
	[Mo_ta] [nvarchar](max) NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_sua] [datetime2](7) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[San_pham_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Tai_khoan_id] [int] IDENTITY(1,1) NOT NULL,
	[User_name] [nvarchar](255) NOT NULL,
	[Pass_word] [nvarchar](255) NOT NULL,
	[Trang_thai] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Tai_khoan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[Thanh_toan_id] [int] IDENTITY(1,1) NOT NULL,
	[Hinh_thuc_thanh_toan_id] [int] NOT NULL,
	[Hoa_don_id] [int] NOT NULL,
	[So_tien] [decimal](18, 2) NOT NULL,
	[Paid_at] [datetime2](7) NULL,
	[Ma_giao_dich] [nvarchar](255) NULL,
	[Trang_thai] [int] NOT NULL,
 CONSTRAINT [PK_ThanhToan] PRIMARY KEY CLUSTERED 
(
	[Thanh_toan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thong_so_vot]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thong_so_vot](
	[Thong_so_id] [int] IDENTITY(1,1) NOT NULL,
	[San_pham_id] [int] NOT NULL,
	[Hang_can (theo tieu chuan U)] [nvarchar](255) NULL,
	[Co_can_vot (theo tieu chuan G)] [nvarchar](255) NULL,
	[Diem_can_bang] [nvarchar](255) NULL,
	[Kieu_can_bang] [nvarchar](255) NULL,
	[Do_cung_than_vot] [nvarchar](255) NULL,
	[Muc_cang_day_toi_da] [nvarchar](255) NULL,
	[Muc_cang_day_khuyen_nghi] [nvarchar](255) NULL,
	[Chat_lieu] [nvarchar](255) NULL,
	[Xuat_xu] [nvarchar](255) NULL,
	[Loi_choi] [nvarchar](255) NULL,
	[Trinh_do] [nvarchar](255) NULL,
 CONSTRAINT [PK_Thong_so_vot] PRIMARY KEY CLUSTERED 
(
	[Thong_so_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 2/28/2026 8:56:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Voucher_id] [int] IDENTITY(1,1) NOT NULL,
	[Ten_vou_cher] [nvarchar](255) NOT NULL,
	[Ma_voucher] [nvarchar](50) NOT NULL,
	[Ngay_bat_dau] [datetime2](7) NOT NULL,
	[Ngay_ket_thuc] [datetime2](7) NOT NULL,
	[Trang_thai] [int] NOT NULL,
	[So_luong] [int] NOT NULL,
	[Ngay_tao] [datetime2](7) NOT NULL,
	[Ngay_cap_nhat] [datetime2](7) NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[Voucher_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Danh_muc_san_pham_Ten_danh_muc]    Script Date: 2/28/2026 8:56:48 PM ******/
ALTER TABLE [dbo].[Danh_muc_san_pham] ADD  CONSTRAINT [UQ_Danh_muc_san_pham_Ten_danh_muc] UNIQUE NONCLUSTERED 
(
	[Ten_danh_muc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SanPham_Ma_san_pham]    Script Date: 2/28/2026 8:56:48 PM ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [UQ_SanPham_Ma_san_pham] UNIQUE NONCLUSTERED 
(
	[Ma_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SanPham_Sku]    Script Date: 2/28/2026 8:56:48 PM ******/
ALTER TABLE [dbo].[SanPham] ADD  CONSTRAINT [UQ_SanPham_Sku] UNIQUE NONCLUSTERED 
(
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_TaiKhoan_User_name]    Script Date: 2/28/2026 8:56:48 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD  CONSTRAINT [UQ_TaiKhoan_User_name] UNIQUE NONCLUSTERED 
(
	[User_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Voucher_Ma_voucher]    Script Date: 2/28/2026 8:56:48 PM ******/
ALTER TABLE [dbo].[Voucher] ADD  CONSTRAINT [UQ_Voucher_Ma_voucher] UNIQUE NONCLUSTERED 
(
	[Ma_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anh] ADD  DEFAULT ((0)) FOR [Thu_tu]
GO
ALTER TABLE [dbo].[Anh] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[Anh] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[ChucVu] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[ChucVu] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[Danh_muc_san_pham] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT ((1)) FOR [So_luong]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[GioHangChiTiet] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[HinhThucThanhToan] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[Khach_hang] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[Mau_sac] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[Mau_sac] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[Nhat_ky_he_thong] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [So_luong_ton]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT ((0)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((1)) FOR [Trang_thai]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [So_luong]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (getdate()) FOR [Ngay_tao]
GO
ALTER TABLE [dbo].[DiaChiKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_DiaChiKhachHang_Khach_hang] FOREIGN KEY([Khach_hang_id])
REFERENCES [dbo].[Khach_hang] ([Khach_hang_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiaChiKhachHang] CHECK CONSTRAINT [FK_DiaChiKhachHang_Khach_hang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_Khach_hang] FOREIGN KEY([Khach_hang_id])
REFERENCES [dbo].[Khach_hang] ([Khach_hang_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_Khach_hang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GioHangChiTiet_GioHang] FOREIGN KEY([Gio_hang_id])
REFERENCES [dbo].[GioHang] ([Gio_hang_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GioHangChiTiet_GioHang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GioHangChiTiet_SanPham] FOREIGN KEY([San_pham_id])
REFERENCES [dbo].[SanPham] ([San_pham_id])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GioHangChiTiet_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DiaChiKhachHang] FOREIGN KEY([Dia_chi_id])
REFERENCES [dbo].[DiaChiKhachHang] ([Dia_chi_id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DiaChiKhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_HinhThucThanhToan] FOREIGN KEY([Hinh_thuc_thanh_toan_id])
REFERENCES [dbo].[HinhThucThanhToan] ([Hinh_thuc_thanh_toan_id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Khach_hang] FOREIGN KEY([Khach_hang_id])
REFERENCES [dbo].[Khach_hang] ([Khach_hang_id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Khach_hang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([Nhan_vien_id])
REFERENCES [dbo].[NhanVien] ([Nhan_vien_id])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Voucher] FOREIGN KEY([Voucher_id])
REFERENCES [dbo].[Voucher] ([Voucher_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Voucher]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_HoaDon] FOREIGN KEY([Hoa_don_id])
REFERENCES [dbo].[HoaDon] ([Hoa_don_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_HoaDon]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonChiTiet_SanPham] FOREIGN KEY([San_pham_id])
REFERENCES [dbo].[SanPham] ([San_pham_id])
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [FK_HoaDonChiTiet_SanPham]
GO
ALTER TABLE [dbo].[Khach_hang]  WITH CHECK ADD  CONSTRAINT [FK_Khach_hang_TaiKhoan] FOREIGN KEY([Tai_khoan_id])
REFERENCES [dbo].[TaiKhoan] ([Tai_khoan_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Khach_hang] CHECK CONSTRAINT [FK_Khach_hang_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChucVu] FOREIGN KEY([Chuc_vu_id])
REFERENCES [dbo].[ChucVu] ([Chuc_vu_id])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChucVu]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([Tai_khoan_id])
REFERENCES [dbo].[TaiKhoan] ([Tai_khoan_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Anh] FOREIGN KEY([Anh_id])
REFERENCES [dbo].[Anh] ([Anh_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Anh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Danh_muc_san_pham] FOREIGN KEY([Danh_muc_san_pham_id])
REFERENCES [dbo].[Danh_muc_san_pham] ([Danh_muc_san_pham_id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Danh_muc_san_pham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Mau_sac] FOREIGN KEY([Mau_sac_id])
REFERENCES [dbo].[Mau_sac] ([Mau_sac_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_Mau_sac]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HinhThucThanhToan] FOREIGN KEY([Hinh_thuc_thanh_toan_id])
REFERENCES [dbo].[HinhThucThanhToan] ([Hinh_thuc_thanh_toan_id])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_HinhThucThanhToan]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_HoaDon] FOREIGN KEY([Hoa_don_id])
REFERENCES [dbo].[HoaDon] ([Hoa_don_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_HoaDon]
GO
ALTER TABLE [dbo].[Thong_so_vot]  WITH CHECK ADD  CONSTRAINT [FK_Thong_so_vot_SanPham] FOREIGN KEY([San_pham_id])
REFERENCES [dbo].[SanPham] ([San_pham_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thong_so_vot] CHECK CONSTRAINT [FK_Thong_so_vot_SanPham]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_GioHangChiTiet_Don_gia] CHECK  (([Don_gia]>=(0)))
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [CK_GioHangChiTiet_Don_gia]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_GioHangChiTiet_So_luong] CHECK  (([So_luong]>(0)))
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [CK_GioHangChiTiet_So_luong]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_GioHangChiTiet_Thanh_tien] CHECK  (([Thanh_tien]>=(0)))
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [CK_GioHangChiTiet_Thanh_tien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_Email_khach_hang] CHECK  (([Email_khach_hang] IS NULL OR [Email_khach_hang] like '%@%.%'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_Email_khach_hang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_HoaDon_Tong_tien_sau_khi_giam] CHECK  (([Tong_tien_sau_khi_giam]>=(0)))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_HoaDon_Tong_tien_sau_khi_giam]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_HoaDonChiTiet_Gia] CHECK  (([Gia]>=(0)))
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [CK_HoaDonChiTiet_Gia]
GO
ALTER TABLE [dbo].[HoaDonChiTiet]  WITH CHECK ADD  CONSTRAINT [CK_HoaDonChiTiet_So_luong_san_pham] CHECK  (([So_luong_san_pham]>(0)))
GO
ALTER TABLE [dbo].[HoaDonChiTiet] CHECK CONSTRAINT [CK_HoaDonChiTiet_So_luong_san_pham]
GO
ALTER TABLE [dbo].[Khach_hang]  WITH CHECK ADD  CONSTRAINT [CK_Khach_hang_Email] CHECK  (([Email] IS NULL OR [Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[Khach_hang] CHECK CONSTRAINT [CK_Khach_hang_Email]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [CK_NhanVien_Email] CHECK  (([Email] IS NULL OR [Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_NhanVien_Email]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_Gia] CHECK  (([Gia_ban]>=[Gia_nhap] AND [Gia_nhap]>=(0) AND [Gia_ban]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_Gia]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [CK_SanPham_So_luong_ton] CHECK  (([So_luong_ton]>=(0)))
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [CK_SanPham_So_luong_ton]
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_ThanhToan_So_tien] CHECK  (([So_tien]>=(0)))
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [CK_ThanhToan_So_tien]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_Ngay] CHECK  (([Ngay_ket_thuc]>=[Ngay_bat_dau]))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_Ngay]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [CK_Voucher_So_luong] CHECK  (([So_luong]>=(0)))
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [CK_Voucher_So_luong]
GO
