<div th:fragment="content">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>

    <div class="dashboard-content">
        <div class="dashboard-grid">
            <div class="dashboard-panel sales-panel">
                <div class="panel-header">
                    <h3><i class="bi bi-graph-up-arrow"></i> Tình hình bán hàng</h3>
                    <select class="panel-select" id="salesRangeSelect">
                        <option selected>Theo ngày dữ liệu</option>
                        <option>7 ngày gần đây</option>
                        <option>30 ngày gần đây</option>
                    </select>
                </div>
                <div class="panel-note">
                    Dữ liệu: <strong th:text="${salesDateLabel}">--/--/----</strong>
                </div>

                <div class="sales-list">
                    <div class="sales-item">
                        <div class="sales-item__icon sales-item__icon--blue"><i class="bi bi-bag-check"></i></div>
                        <div>
                            <div class="sales-item__label">Tổng bán hàng</div>
                            <div class="sales-item__value" th:text="${salesOverview.totalOrders}">0</div>
                        </div>
                    </div>

                    <div class="sales-item">
                        <div class="sales-item__icon sales-item__icon--green"><i class="bi bi-cash-stack"></i></div>
                        <div>
                            <div class="sales-item__label">Tổng doanh thu</div>
                            <div class="sales-item__value"
                                 th:text="${#numbers.formatDecimal(salesOverview.totalRevenue, 0, 'COMMA', 0, 'POINT')} + 'đ'">
                                0đ
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-panel revenue-panel">
                <div class="panel-header">
                    <h3><i class="bi bi-bar-chart-line"></i> Doanh thu</h3>
                    <select class="panel-select" id="revenueRangeSelect">
                        <option selected>7 ngày gần đây</option>
                        <option>30 ngày gần đây</option>
                    </select>
                </div>

                <div class="line-chart-wrap">
                    <svg id="revenueChart" class="line-chart" viewBox="0 0 760 280" preserveAspectRatio="none"></svg>
                </div>
                <div class="revenue-pagination" id="revenuePagination"></div>

                <div class="revenue-legend">
                    <label><input type="radio" name="revenueSeries" value="current" checked/> 7 ngày gần đây
                        (<span id="revenueCurrentRange" th:text="${currentRangeLabel7Days}">-</span>)</label>
                    <label><input type="radio" name="revenueSeries" value="previous"/> Kỳ trước
                        (<span id="revenuePreviousRange" th:text="${previousRangeLabel7Days}">-</span>)</label>
                </div>
            </div>

            <div class="dashboard-panel operation-panel">
                <div class="panel-header operation-panel__header">
                    <h3><i class="bi bi-pie-chart"></i> Hiệu quả vận hành</h3>
                    <div class="operation-panel__actions">
                        <select class="panel-select">
                            <option selected>7 ngày gần đây</option>
                            <option>30 ngày gần đây</option>
                        </select>
                    </div>
                </div>

                <div class="donut-wrap">
                    <div id="operationDonut" class="donut-chart"
                         th:attr="data-completed=${operationOverview.completedOrders},data-shipping=${operationOverview.shippingOrders},data-canceled=${operationOverview.canceledOrders}">
                    </div>
                </div>

                <div class="operation-legend">
                    <div class="legend-item">
                        <span class="dot dot--green"></span>
                        <span>Đơn hoàn thành</span>
                        <strong th:text="${operationOverview.completedOrders}">0</strong>
                    </div>
                    <div class="legend-item">
                        <span class="dot dot--blue"></span>
                        <span>Đang giao hàng</span>
                        <strong th:text="${operationOverview.shippingOrders}">0</strong>
                    </div>
                    <div class="legend-item">
                        <span class="dot dot--red"></span>
                        <span>Đơn hủy</span>
                        <strong th:text="${operationOverview.canceledOrders}">0</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        window.dashboardMetrics = {
            sales7DayLabel: /*[[${sales7DayLabel}]]*/ "",
            sales30DayLabel: /*[[${sales30DayLabel}]]*/ "",
            revenue7DaysCurrentLabels: /*[[${currentRevenueLabels7Days}]]*/ [],
            revenue7DaysPreviousLabels: /*[[${previousRevenueLabels7Days}]]*/ [],
            revenue7DaysCurrentValues: /*[[${currentRevenueValues7Days}]]*/ [],
            revenue7DaysPreviousValues: /*[[${previousRevenueValues7Days}]]*/ [],
            revenue30DaysCurrentLabels: /*[[${currentRevenueLabels30Days}]]*/ [],
            revenue30DaysPreviousLabels: /*[[${previousRevenueLabels30Days}]]*/ [],
            revenue30DaysCurrentValues: /*[[${currentRevenueValues30Days}]]*/ [],
            revenue30DaysPreviousValues: /*[[${previousRevenueValues30Days}]]*/ [],
            revenue7DaysCurrentRange: /*[[${currentRangeLabel7Days}]]*/ "",
            revenue7DaysPreviousRange: /*[[${previousRangeLabel7Days}]]*/ "",
            revenue30DaysCurrentRange: /*[[${currentRangeLabel30Days}]]*/ "",
            revenue30DaysPreviousRange: /*[[${previousRangeLabel30Days}]]*/ ""
        };
    </script>
    <script th:src="@{/js/dashboard.js}"></script>
</div>
