<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Khách hàng</title>

</head>

<body>
<link rel="stylesheet" th:href="@{/css/khach.css}">

<div th:fragment="content">

    <div class="container">

        <!-- THANH TÌM KIẾM -->
        <div class="toolbar">

            <form th:action="@{/khachhang/search}" method="get" class="search-box">
                <input type="text"
                       name="ten"
                       placeholder="Nhập tên khách hàng">
                <button type="submit">🔍</button>
            </form>

            <form th:action="@{/khachhang/status}" method="get">
                <select name="trangThai" onchange="this.form.submit()">
                    <option value="">-- Trạng thái --</option>
                    <option value="1">Đang theo dõi</option>
                    <option value="0">Ngừng</option>
                </select>
            </form>

            <a th:href="@{/khachhang/add}" class="add-btn">
                 Thêm mới
            </a>
        </div>


        <!-- TABLE -->
        <table class="table">

            <thead>
            <tr>
                <th>Mã KH</th>
                <th>Tên khách hàng</th>
                <th>SĐT</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Trạng thái</th>
                <th>Ngày tạo</th>
                <th>Ngày cập nhật</th>
                <th>Chức năng</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="kh : ${list}">

                <td th:text="${kh.khachHangId}"></td>
                <td th:text="${kh.tenKhachHang}"></td>
                <td th:text="${kh.sdt}"></td>
                <td th:text="${kh.email}"></td>
                <td th:text="${kh.diaChiKhachHang}"></td>

                <td th:text="${kh.trangThai == 1 ? 'Đang theo dõi' : 'Ngừng'}"></td>

                <td th:text="${#temporals.format(kh.ngayTao,'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(kh.ngayCapNhat,'dd/MM/yyyy')}"></td>

                <td class="action">
                    <a th:href="@{/khachhang/update/{id}(id=${kh.khachHangId})}" class="edit">Sửa</a>
                    <a th:href="@{/khachhang/delete/{id}(id=${kh.khachHangId})}" class="delete">Xóa</a>
                </td>

            </tr>
            </tbody>

        </table>

    </div>

</div>

</body>
</html>